#contQuienesSomos h1{
    margin-left: 10%;
    color: yellow;
}

#contQuienesSomos p{
    color: white;
    text-align: center;
    font-size: 25px;
}

#contQuienesSomos{
   margin-top: 20px;
}

#contValores h3{
    text-align: center;
     color: white;
}

#contValores h2{
    text-align: center;
     color: white;
}

#listaValores{
    margin-top: 50px;
}

#listaDeValores{
    text-align: center;
    font-size: 25px;
    margin-bottom:75%;
    margin-top: 20px;
}

#valoresContainer {
    font-size: 24px; /* Tamaño de fuente deseado */
    text-align: center;
    
  }

 @media screen and (max-width:1400px) {
    #contValores h3 {
      display: none;
    }
    
   
  }
@media screen and (max-width:768px) {
    
    #contValores{
      margin-bottom: 60px;
    }
  }
