html, body {
  height: 100%;
  width: 100%;
}

#nave{

  background: url('img/banner.jpg') repeat-x;
  background-size:cover;
  background-repeat:no-repeat;
  
}



 body {
    background: url('img/fondoBody.jpg') repeat-x;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
   
  }


  main {
    flex: 1;
  }

#fondoBanner{
  background: url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  
}

#fondoBanner a{
    color: white;
    font-size:20px;
  }

#tituloNav{
   margin-right:  300px;
}

#tituloNav h1{
  color:white;
}

.dropdown-menu a.dropdown-item :hover {
    color: black !important;
  }


h5{
    font-size: 15px;
    text-align:center;
}

#nave a:hover{
    color: yellow;
    font-size: 21px;
    transition: transform 0.2s ease; /* Agrega una transición suave */
  
}


#contPrincipal img{
    width: 800px;
    height: 530px;
    margin-top: 20px;
    border-radius: 50px;
    border: solid rgba(0, 0, 0, 0.658) 15px; /* Ajusta el valor de "0.8" para cambiar la opacidad */
    
}


#contSecundario{
    
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#contSecundario button:hover{
    
 color: yellow;
  
}



#colSemana{
    border-color:black;
    border-style: solid;
    margin: 0 auto;
}

#tablaHorario{
    margin: 0 auto;
    font-size: 12px;
}

#tablaHorario h1{
   color:white
}

th{
    padding-left: 15px;
    padding-right: 15PX;
}

tr{
    border-color: black;
    border-style: solid;
}

#fila1,#fila2,#fila3 {
    background-color: green;
    background-size: cover;
}

#fila4,#fila5,#fila6 {
    background-color:darkgoldenrod;
    background-size: cover;
}

#fila7,#fila8,#fila9 {
    background-color:steelblue;
    background-size: cover;
}

#tablaTarifa{
    margin: 0 auto;
    font-size: 12px; 

}

#tituloTabla{
    margin: 0 auto;
    font-size: 18px; 
    
}

#footer {
  border-top: double; 
  border-right: double;
  border-left: double;
  border-bottom: double;
  clear: both;
  text-align: center;
  color: white;
  padding-top: 20px;
  background-image: url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logoWhatsapp,
#whatsappBanner,
#correo,
#correoBanner,
#llamada,
#llamadaBanner {
  position: relative;
  float: right;
  bottom: 50px;
  margin-left: 20px;
  margin-right: 10px;
}

#logoWhatsapp:hover,
#correo:hover,
#llamada:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 767px) {
  #logoWhatsapp,
  #whatsappBanner,
  #correo,
  #correoBanner,
  #llamada,
  #llamadaBanner {
    position: static;
    float: none;
    bottom: auto;
    right: auto;
  }
}

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'><path stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

      .dropdown-item:hover {
        color: black !important;
      }

      #botonMenu{
        border: solid white;
      }

      #contTerciario .col-xl-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        margin-top: 100px;

      }
      
      #contTerciario img {
        height: 100px;
        border: solid lime;
        padding: 10px;
        border-radius: 50%;
        transition: transform 0.2s ease; /* Agrega una transición suave */
        
      }

      #contTerciario p {
        color: white;
        font-size: 15px;
      }
      
      #contTerciario img:hover {
        transform: scale(1.1); /* Hace que la imagen se haga un poco más grande al pasar el mouse por encima */
      }

    #tituloAcordionLV{
        background: url("img/banner.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        color: white;
        font-weight: bold;
    }

    #tituloAcordionSabados{
        
        background: url("img/banner.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        color: white;
        font-weight: bold;
    }

    #tituloAcordionDomingos{
        background: url("img/banner.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        color: white;
        font-weight: bold;
    }

    #tituloAcordionTarifas{
        background: url("img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        font-weight: bold;
    }


    #whatsappBanner :hover{
        transform: scale(1.3); /* Hace que la imagen se haga un poco más grande al pasar el mouse por encima */
    }

    #correoBanner :hover{
        transform: scale(1.3); /* Hace que la imagen se haga un poco más grande al pasar el mouse por encima */
    }


    #llamadaBanner :hover{
        transform: scale(1.3); /* Hace que la imagen se haga un poco más grande al pasar el mouse por encima */
    }

    #contPrincipal h5{
  
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)) 0;
    box-shadow: 0 0 10px #66ff6e77, 0 0 50px rgba(102, 204, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.65); /* Ajusta el valor de "0.8" para cambiar la opacidad */  
    border-radius: 50px;
    
    }

    .app {
      /* Estilos existentes... */
    
      /* Agrega los siguientes estilos */
      @media screen and (max-width: 2000px) {
       display: none;
      }
    }

  .app {
    position: fixed;
    top: 14%;
    right: 1%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el valor de "0.8" para cambiar la opacidad */
    width: 15%;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color: white;
    text-align: center;
    height: 75%;
    border-radius: 50px;
    
  }

  .app h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-top: solid white;
    
  }

  .app img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 50px;
    
  }



  .precioCombustible {
    position: fixed;
    top:20%;
    margin-left: 2%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el valor de "0.8" para cambiar la opacidad */
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color: white;
    text-align: center;
    border-radius: 50px;
  }


  @media (max-width: 2000px) {
    .precioCombustible  {
     display: none;
    }
  }