body {
    text-align: center;
}

#enviodeCorreo {
    width: 50%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Ajusta el valor de "0.8" para cambiar la opacidad */
    border-radius: 50px;
    height: 900px;
    color: white;
}

#parrafoCurriculum p {
    color: white;
    font-size: 25px;

}

#parrafoCurriculum {
    margin-top: 20px;

}

@media screen and (max-width:768px) {

    #enviodeCorreo {
        margin-bottom: 60px;
        width: 90%;

    }
}

#enviodeCorreo input::placeholder {
    text-align: center;
   
   }
   